/* main.css */

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Sidebar styles */
#sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  height: 100%;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

#sidebar i {
  margin-right: 10px;
}

#sidebar a:not(:last-child) {
  margin-bottom: 100px;
}

#user-info {
  display: none;
  color: #fff;
  margin-top: 5px;
  padding: 10px;
  background-color: #555;
  border-radius: 15px;
}

/* Content styles */
#content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Allow content area to scroll */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  /* Adjust sidebar width for medium screens */
  #sidebar {
    width: 180px;
  }

  /* Adjust padding-left of content area for medium screens */
  #content {
    padding-left: 200px;
  }
}

@media screen and (max-width: 992px) {
  /* Adjust sidebar width for small screens */
  #sidebar {
    width: 160px;
  }

  /* Adjust padding-left of content area for small screens */
  #content {
    padding-left: 180px;
  }
}

@media screen and (max-width: 768px) {
  /* Adjust sidebar width for extra small screens */
  #sidebar {
    width: 120px;
  }

  /* Adjust padding-left of content area for extra small screens */
  #content {
    padding-left: 140px;
  }
}

